body {
    padding: 20px;
}

.list-group > a {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.page-header .search-tradables {
    margin-top: 30px;
}

#flash-messages {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 500px;
}
